.navbar-brand {
	background: url(<img style="-webkit-user-select: none" src="https://d1pqgpjinf0thr.cloudfront.net/assets/home/cartoon-watercooler-6608de06515a4d79a71d7580b27af9d7.jpg"> ) 0 5px no-repeat;
	background-size: 190px;
	width: 202px;
	padding: 10px 0 0 0;
	text-indent: -1000px;
	overflow: hidden;
}
